[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
pytest = "*"
"flake8" = "*"
django = ">=2.1.0"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
foreignform = {path = "./..",editable = true}
setuptools = "*"
pip = "*"
wheel = "*"
twine = "*"

[dev-packages]
