{% extends "admin/change_form.html" %}
{% load staticfiles %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript">
  window.foreignformField = '{{ foreignform_field }}';
  window.foreignformJSONSchema = {{foreignform_JSONSchema|safe}};
  window.foreignformUISchema = {{foreignform_UISchema|safe}};
</script>
<script src="{%static 'foreignform/js/main-change.js'%}"></script>
{% endblock %}

{% block after_field_sets %}
{{ block.super }}
<div id="foreignform" class="form-row"></div>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{%static 'foreignform/css/main-change.css'%}">
{% endblock %}
